body {
  margin: 0 auto;
  background-color: rgb(205, 205, 205);
}

#bimg {
  position: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  margin: 0;
}

main {
  position: relative;
  background-color: rgb(150, 150, 150);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#center {
  position: relative;
  width: 100%;
  height: 680px;
  z-index: 3;
  margin: 0 auto;
}

#slide {
  transition: ease 0.5s;
  width: 100%;
  height: 100%;
  background-image: url("../Pic/slidePic/img4.jpg");
  background-size: 100% 100%;
  z-index: 5;
  margin: 0 auto;
}

#next {
  position: absolute;
  color: white;
  background-color: rgba(147, 147, 147, 0.5);
  width: 102px;
  right: 0;
  bottom: 0.3px;
  font-size: 48pt;
  height: 100%;
  border: none;
}

#next:hover {
  background-color: rgba(147, 147, 147, 0.1);
  cursor: pointer;
}

#next:active {
  background-color: rgba(147, 147, 147, 0.9);
}

#previous {
  position: absolute;
  color: white;
  background-color: rgba(147, 147, 147, 0.5);
  width: 100px;
  left: 0;
  font-size: 48pt;
  bottom: 0.3px;
  height: 100%;
  border: none;
}

#previous:hover {
  background-color: rgba(147, 147, 147, 0.1);
  cursor: pointer;
}

#previous:active {
  background-color: rgba(147, 147, 147, 0.9);
}

.none {
  background-color: none;
}

.glow {
  animation: glow 8s normal;
}

@keyframes glow {
  0% {
    background-color: grey;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}

#set1 {
  position: relative;
  margin: auto;
  z-index: 400;
  bottom: 50px;
  width: 150px;
}

#set1 ul li {
  position: relative;
  display: inline-block;
  border: 1px grey solid;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  background-color: grey;
}

#set1 ul li:hover {
  background-color: cyan;
}

#set1 ul li:active {
  background-color: white;
}

.pay {
  position: relative;
  left: 50px;
  bottom: 10px;
}

.img {
  position: relative;
  z-index: 6;
  top: 20px;
  opacity: 1;
}

nav {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  margin: auto;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
  text-align: center;
}

nav ul li {
  display: inline;
  font-size: x-large;
  padding: 10px;
  color: white;
  text-decoration: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  display: inline;
  font-size: x-large;
  color: white;
  text-decoration: underline;
}

nav ul li[title="Boni's Garage"] {
  position: absolute;
  line-height: 25px;
  left: 50px;
  bottom: -12px;
  text-align: center;
}

nav ul li a[target="_self"] {
  position: relative;
  font-weight: bolder;
}

nav ul li a:hover[target="_self"] {
  position: relative;
  text-decoration: none;
}

#logo {
  color: red;
  font-family: Harrington;
  font-style: italic;
  font-size: 34pt;
  font-weight: bolder;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.pics {
  position: relative;
  z-index: 5;
  margin: auto;
}

.estimate {
  position: relative;
  background-color: rgb(30, 30, 30);
  width: 1000px;
  text-align: center;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 4px black;
  font-size: 20pt;
  padding-bottom: 18px;
  padding-top: 18px;
  top: 200px;
  z-index: 0;
  margin: auto;
}

/* for sections */

.sec {
  position: relative;
  margin: auto;
  padding-top: 160px;
  width: 1000px;
  height: 600px;
}
.assosiates {
  position: relative;
  width: 100%;
  left: 80px;
}
.arrange {
  position: relative;
  margin-top: 50px;
  width: 250px;
  height: 160px;
  padding-left: 25px;
  padding-right: 25px;
}

.imag {
  float: left;
}

.fontstyle {
  position: relative;
  color: black;
  left: 90px;
  width: 180px;
  height: 160px;
  text-align: left;
  margin-top: 40px;
}

.fontstyle2 {
  position: relative;
  left: 419px;
  bottom: 210px;
  color: black;
  width: 180px;
  height: 160px;
  margin-top: 50px;
}

.fontstyle3 {
  position: relative;
  left: 738px;
  bottom: 420px;
  color: black;
  width: 180px;
  height: 160px;
  margin-top: 50px;
}

.div {
  width: 1000px;
  height: 160px;
  position: all;
  z-index: 3;
}

#a {
  position: relative;
  background-color: rgb(40, 40, 40);
  float: right;
  color: white;
  padding: 12px;
  font-weight: bolder;
  text-decoration: none;
  bottom: 11px;
  right: 10px;
}

#a:active {
  position: relative;
  background-color: rgb(100, 100, 100);
  float: right;
  padding: 12px;
  color: black;
  font-weight: bolder;
  text-decoration: none;
  bottom: 11px;
  right: 10px;
}

/* Arrange the buttons in order */

.secc {
  position: relative;
  width: 1000px;
  height: 20px;
  margin: auto;
  top: 22px;
}

.Vtip {
  position: relative;
  top: 140px;
  width: 900px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: gray;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
  margin: auto;
}

#video {
  position: relative;
  width: 600px;
  left: 200px;
  top: 100px;
}

#atip {
  position: relative;
  width: 80px;
  text-decoration: none;
  font-size: 18pt;
  left: 20px;
  padding: 10px;
  background-color: rgb(10, 10, 10);
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 3px 4px #2f4f4f;
}

#atip:active {
  background-color: white;
  color: black;
}

#atip:hover {
  border: 2px solid cyan;
}

section ul {
  margin: 0 auto;
}

section ul li {
  text-decoration: none;
  margin: 0 auto;
  display: inline-block;
}

section img {
  position: relative;
  width: 250px;
  height: 100px;
  top: 41px;
}

#snapFin {
  position: relative;
  width: 250px;
  background-color: #000057;
  font-size: 22pt;
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#green {
  position: relative;
  color: #92d050;
  top: 29px;
  right: 70px;
}

footer {
  position: relative;
  background-color: rgb(20, 20, 20);
  width: 100%;
  padding: 40px 0;
  margin: auto;
  font-size: 13pt;
  color: gray;
  text-align: center;
}

.serv {
  position: relative;
  background-color: rgb(200, 200, 200);
  font-size: 16pt;
  width: 830px;
  padding-bottom: 18px;
  padding-top: 18px;
  text-align: center;
  top: 90px;
  margin: auto;
}

#btext {
  margin-top: 150px;
  top: 100px;
  position: relative;
  background-color: rgb(18, 19, 19);
  padding-top: 150px;
  padding-bottom: 210px;
  width: 100%;
  color: white;
  font-size: 20pt;
  font-weight: bold;
  text-shadow: 2px 5px 4px black;
  white-space: normal;
}

#wtext {
  position: absolute;
  top: 0px;
  left: 50px;
}

#wtext1 {
  position: absolute;
  width: 300px;
}

#wtext2 {
  position: absolute;
  width: 300px;
  left: 320px;
}

#wtext3 {
  position: absolute;
  width: 350px;
  left: 600px;
}

/*media size*/
